<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Application.name" value="WPF.Quickstart" />
    <add key="Twitter.oAuth.ConsumerKey" value="GjWlZHpNx4L8N7uIIawAEN4aJ" />
    <add key="Twitter.oAuth.ConsumerSecret" value="OkKgXrxwe1C3UBBmCgGDXB0Y1OVw1zwBfKALweZAoXwE18Xkxz" />
    <add key="Twitter.oAuth.ApiUrl" value="https://api.twitter.com/oauth2/token" />
  </appSettings>
</configuration>